@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: skyblue;
    background-image: url(../src/assets/image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
   background-attachment: fixed;
}



